*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
}

/*Header Start*/
#navbar img {
    width: 80px;
    object-fit: contain;
    mix-blend-mode: darken;
    
}
/*Header End*/

ul{
    list-style: none;
}

a{
    text-decoration: none;  
}

.container {
    max-width: 1100px;
    margin: auto;
}


/* Utility Classes */
.primary-text{
    color: gold;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.btn-primary {
    color: rgb(252, 250, 250);
    border: 1px solid rgb(248, 245, 245);
}

.btn-secondry {
    color: white;
    background: #835ec5;
    margin-top: 2rem;
}

.btn-primary:hover,
.btn-secondry:hover {
    background-color: gold;
}

/* Header Start*/
header{
    height: 100vh;
    background: url('https://img.magnific.com/free-photo/restaurant-interior_1127-3394.jpg?semt=ais_hybrid&w=740&q=80') center center/cover no-repeat;
    position: relative;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar ul {
    display: flex;
    margin-right: 100px;
}

#navbar ul li a {
    padding: 15px 20px;
    color: rgb(253, 253, 253);
    font-weight: 600;
}

#navbar ul li a:hover {
    border-bottom: 2px solid red;
}
header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
}

header .content h1{
    font-size: 40px;
    color: white;

}

header .content p{
    margin: 20px 0 40px;
    color: white;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
}

header * {
    z-index: 10;
}
/* Header End*/

/* About Start*/

#about {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about,
#offers {
 background-color: rgb(200, 228, 223);

}

#about .tittle,
#offers .tittle,
#menu .tittle {
    text-align: center;
    margin-bottom: 4rem;
}

#about h2, 
#offers h2,
#menu h2 {
    font-size: 40px;
    color: #383848;
    margin-bottom: 20px;
}

#about .tittle p {
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;

}

#about .about-content {
    display: flex;
    justify-content: space-between;

}

#about .about-content{
    color: #9a9a9a;
    margin-right: 7rem;
    font-weight: 500;
    line-height: 1.6;

}

/* About End*/

/* Offers Start*/
#offers {
    
    display: flex;
    justify-content: center;
    background: url(./Food-Lover-main.zip/offer-background.jbg) center center/cover fixed;
}

#offers h2{
    color: rgb(128, 115, 43);
}

#offers .tittle{
    color: rgb(19, 96, 120);
    font-weight: 500;
}

#offers .offers-items{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#offers .offers-items img {
    width: 110px;
}

#offers .offers-items h3 {
    font-size: 25px;
    margin: 15px;
}

#offers .offers-items p {
    font-size: 14px;
    padding: 0 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

#offers .offers-items span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;

}
/* Offers End*/

/* Menu Start*/

.menu-section {
    background-color: rgb(94, 106, 85);
    padding: 90px;
    border-radius: 10px;
}

#menu {
    background: rgb(157, 134, 135);
    padding: 5rem 0;
}

#menu .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu .menu-items .menu-item {
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

}


#menu .menu-items .menu-item img {
    width: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

#menu .menu-items .menu-item h3 {
    border-bottom: 1px dashed white;
    padding-bottom: 10px;
    position: relative;
}

#menu .menu-items .menu-item span {
    position: absolute;
    top: 0;
    right: 0;
}

#menu .menu-items .menu-item p {
    margin-top: 10px;
}

#menu .btn {
    display: block;
    margin: 20px auto 0;
    background: gold;
    color: white;
}

#menu .btn:hover {
    background: #383848 ;
}

/* Menu End*/
/* Daytime start */
#daytime {
    color: rgb(24, 24, 24);
    text-align: center;
}

#gallery h2 {
    color: white;
}

#daytime .daytime-items img {
    width: 100px;
    height: auto;
}

#daytime .daytime-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

#daytime .daytime-items h3 {
    font-size: 22px;
    margin: 20px 0 10px;

}

/* Daytime end */

/* Gallery Start */
#gallery {
    background: #2f2245 center center/cover no-repeat;
    padding: 8rem 0 6rem;
}

#gallery h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#gallery .img-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#gallery .img-gallery img {
    width: 250px;
    height: 185px;
    border-radius: 15px;
    margin: 20px;
    opacity: 0.8;
}

#gallery .img-gallery img:hover {
    opacity: 1;
}

/* Gallery End */

/* Contact Start */
#contact {
    padding: 5rem 0;
    background: white;
}

#container .container {
    max-width: 900px;
}

#contact .contact-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#contact .contact-content .contact-info{
    width: 50%;
}

#contact .contact-content .contact-info div {
    margin: 30px 0;
    line-height: 1.7;
}

#contact .contact-content .contact-info h3 {
    font-size: 28px;
    color: #2f2245;
    margin-bottom: 10px;
}

#contact .contact-content .contact-info p {
    color: #9a9a9a;
}

#contact .contact-content .contact-info i {
    color: gold;
    margin-right: 5px;
}

#contact .contact-content .contact-info a i {
    color: white;
    background-color: #2f2245;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

#contact .contact-content .contact-info a i:hover {
    background: gold;
    color: #2f2245;
}

form {
    width: 50%;
}

form input,
textarea {
    display: block;
    width: 100%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #f4f5c0;

}

#contact .btn {
    background: gold;
    color: white;
}

#contact .btn:hover{
    background-color: #2f2245;
}


/* Contact End */



